{% extends "storefront/element/cms-element-image-slider.html.twig" %} {% block
element_image_slider %}
{{ parent() }}
{% block img-slider %}
<div class="positions">
    <h3 class="bestOffer text-center">BEST OFFER</h3>
    <h1 class="text-white">NEW ARRIVALS ON SALE</h1>
</div>
{% endblock %}
