.question-form {
    margin-top:10px;

    .star {
        color: red;
    }

    .submit-btn {
        margin-bottom:5px;
        margin-left:21px;
    }

    .question-title {
        margin-top:5px;
    }
}