.question-form-btn {
    margin-top:5px;
    margin-left: 346px;
}

@media screen and (max-width: 900px) {
    .question-form-btn {
        margin-top:5px;
        margin-left: 250px;
    }
}

@media screen and (max-width: 750px) {
    .question-form-btn {
        margin-top:5px;
        margin-left: 215px;
    }
}

@media screen and (max-width: 650px) {
    .question-form-btn {
        margin-top:5px;
        margin-left: 160px;
    }
}

@media screen and (max-width: 500px) {
    .question-form-btn {
        margin-top:5px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 400px) {
    .question-form-btn {
        margin-top:5px;
        margin-left: 80px;
    }
}
