{% extends "storefront/layout/header/logo.html.twig" %} {% block
layout_header_logo_image %}
<h2 class="sixteen pt-2">
    {{ "sixteen-theme.heading" | trans }} <span class="clothing">CLOTHING</span>
</h2>
{% endblock %}
